# data/raw/*
data/processed/*
!data/processed/.processed
data/raw/*
!data/raw/.raw
outputs/checkpoints/*
outputs/logs/*gpt2*
!app/models
*venv*
__pycache__/
*key*
*test*py*

# google drive service account key
service_account_key.json