absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
bitsandbytes
cachetools
certifi
charset-normalizer
contourpy
cycler
datasets
dill
filelock
fonttools
frozenlist
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
httplib2
huggingface-hub
idna
Jinja2
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauth2client
packaging
pandas
peft
pillow
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
six
sympy
tensorboard
tensorboard-data-server
threadpoolctl
tokenizers
torch
tqdm
transformers
triton
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
xxhash
yarl
